/* About Styling Section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #f0d5a9;
  padding: 20px;
  margin-top: 50px;
}

.about-box {
  background: #1a1a1a; 
  padding: 20px;
  display: flex; 
  margin: 20px; 
}

.about h2 {
  color: #e1e2e5;
  margin-bottom: 0;
}

.about h1 {
  color: #e1e2e5;
}

.about p {
  color: #f0d5a9;
  width: 400px;
  text-align: center;
}

.about-section {
  text-align: left;
  padding-top: 100px;
  width: 1000px;
  max-width: 100%;
  margin-top: -50px;
}

.about-section-picture img {
  max-width: 100%; 
  height: auto;
  margin-left: -50px;
  margin-top: -50px;
}

.about-section h1 {
  margin-left: 140px;
}

.about-section h2 {
  margin-left: -280px;
}

/* Responsive Two-column layout for services */
.service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.service img {
  max-width: 600px;
  height: auto;
  margin-right: 40px; 
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service-text {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service h3 {
  color: #e1e2e5;;
  margin-bottom: 10px;
}

.service p {
  color: #f0d5a9;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.about-section button {
  margin-left: 165px;
}

.first-paragraph {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 400px;
  margin-bottom: 50px;
}


.about-list {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.about-page {
  margin-top: 110px;
}

.about-page h2 {
  color: #e1e2e5;
  text-align: center;
}

.about-page ol{
text-align: center;
}

/* Reviews Section */
.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.review {
  text-align: center;
}
.review p,
.review h3,
.review h4{
  text-align: center;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.customers-reviews {
 text-align: center;
}