/* About Styling Section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #f0d5a9;
  padding: 20px;
  margin-top: 50px;
}

.about-box {
  background: #1a1a1a; 
  padding: 20px;
  display: flex; 
  margin: 20px; 
}

.about h2 {
  color: #e1e2e5;
  margin-bottom: 0;
}

.about h1 {
  color: #e1e2e5;
}

.about p {
  color: #f0d5a9;
}

.about-section {
  text-align: left;
  padding-top: 100px;
  width: 1000px;
  max-width: 100%;
}

.about-section-picture img {
  max-width: 80%; 
  height: auto;
  margin-left: 150px;
}

.about-section h1 {
  margin-left: 140px;
}

/* Responsive Two-column layout for services */
.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.service img {
  max-width: 50%;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.service h3 {
  color: #333;
  margin-bottom: 10px;
}

.service p {
  color: #666;
  max-width: 400px;
}

.about-section button {
  margin-left: 165px;
}
