/* General Styling section */
* {
  color: #f0d5a9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #1a1a1a;
}

button {
  flex: 1;
  width: 100px;
  height: 28px;
  font-size: 12px;
  border: 1px solid #303030;
  border-radius: 16px;
  background-color: #303030; 
  color: white;
  margin-top: 10px;
  margin-left: 40px;
  white-space: nowrap;
}

/* Responsive Design */
@media (max-width: 600px) {
  button {
    margin-left: 10px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  button {
    margin-left: 20px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  button {
    margin-left: 30px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  button {
    margin-left: 40px;
  }
}
